schema/hostgroupset.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="host-groups">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="host-group" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="host" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
						</xs:sequence>
						<xs:attribute name="name" type="xs:string" />
						<xs:attribute name="description" type="xs:string" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
