schema/runs.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="complexRun">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="run">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="output" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="parallel" type="complexRun" />
			<xs:element name="serial" type="complexRun" />
		</xs:choice>
	</xs:complexType>

	<xs:element name="runs" type="complexRun" />
</xs:schema>
